@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #f0f0f0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

header, footer {
  background-color: #5D04D9;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer p {
  margin: 1rem 0;
}

footer img {
  width: 60px;
  height: 60px;
}

.bg-card {
  background-color: #5D04D9; /* Color morado */
  border: 3px solid #000; /* Borde negro */
}

.text-card {
  color: white;
}

h2, p {
  margin: 0;
  padding: 0;
}
